<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="https://axionstack.com" target='_blank'>Web Home <i class='fas fa-external-link-alt'></i></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/blog/category/shorts">Short Posts</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/blog/category/startup">Art of the Start</a>
</li>

<li class="nav-item">
  <a class="nav-link" target='_blank' href="https://calendly.com/awin/lets-talk">Let's Talk</a>
</li>
